.navbar-wrap.bg-light {
  font-family: Roboto, Open Sans Regular, sans-serif;
  color: #141821;
  background: #fff !important;
  box-shadow: 0 3px 20px rgba(100, 128, 154, 0.25);
  height: 4.6875rem;
  width: 100%;
  .navBar-linkwrap {
    margin-left: 220px;
    width: 65%;
    justify-content: space-around;
    .mid-logo {
      width: 15%;
      margin-top: 6px;
      margin-right: 8px;
      margin-left: 120px;
    }
    .mid-label {
      margin-top: 19px;
      display: inline-block;
      color: #000;
      font-size: 1.5rem;
      text-align: center;
    }
    .setting-label {
      color: #000;
      font-size: medium;
      margin-top: 18px;
      margin-right: 5px;
    }
    .setting-icon {
      width: 38px;
      height: 38px;
      margin-top: 12px;
    }
    .nav-link {
      display: flex;
    }
  }
}
.page-container {
  text-align: center;
  width: 80%;
  margin: 15% auto 0;
  font-size: 26px;
  font-weight: 500;
  .button-wrap button {
    margin: 25px 30px 0;
  }
  .button-wrap button.btn-secondary:disabled {
    cursor: not-allowed;
  }
  .user-message-wrap {
    margin-top: 25px;
    font-size: 18px;
    .error-msg {
      color: red;
    }
    .info-message {
      color: blue;
    }
  }
  .text-align-right {
    text-align: right;
  }
  .text-align-left {
    text-align: left;
  }
  .setting-label {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 0;
  }
  .row-margin {
    margin-top: 15px;
  }
  .no-padding {
    padding: 0 !important;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .setting-value {
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 0;
    color: #726e6e;
    margin-left: 5px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }
  .radio-label {
    font-size: 14px;
  }
}

.plImg {
  width: 23%;
}
.react-confirm-alert-body h1 {
  font-size: 16px;
}
.info-box {
  margin-top: 40px;
  background-color: #fbfbf8;
  text-align: left;
}
button.btn-secondary:disabled {
  cursor: not-allowed;
}
.info-btn {
  margin-left: 100px;
}
.reader-response {
  margin-left: 180px;
}
.radio-label {
  margin-left: 5px;
}
.db-button {
  height: 170px;
  width: 180px;
  padding: 10px 35px;
  font-size: 18px;
}
.big-text {
  font-size: 24px;
}
.image-wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 0;
}
.name-wrap {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}
.qr-verification-text {
  margin-left: 17px;
  font-size: 26px;
}
.nfc-verification-text {
  margin-right: 15px;
  font-size: 26px;
}
.physical-verification {
  margin-top: 20px;
  font-size: 26px;
  display: flex;
  justify-content: center;
}
.message-wrap {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 28px;
  color: red;
}
.device-status {
  margin-top: 165px;
  margin-bottom: 30px;
}
.text-align-left {
  margin-top: 25px;
}
.reader-info-btn {
  margin-top: 160px;
}
.container {
  margin-top: 165px;
}
.btn-row {
  margin-bottom: 40px;
}
.done-btn {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 10px;
}