.main-content{
  position: relative;

  .timer-wrap{
    font-weight: 600;
    font-size: 1.5rem;
    color: #B01116;

    position: absolute;
    top: -4.5rem;
    left: 45%;

    // TODO: Make it visible and functinal
    // display: none;
  }
}

.acknowledgement-wrap {
  
  font-size: 1.5rem;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .form-title{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
  }

  #acknowledge-confirm {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    border: 3px solid #244B8E;
  }

  .acknowledge-confirm label{
    font-weight: 600;
  
    &::after{
      content: '*';
      color: red;
      line-height: 1.6;
      font-size: 16px;
      position: relative;
      top: -0.5rem;
    }
  }

  .submit-btn{
    margin-top: 7.5rem;
  }
}

