.donation-wrap {
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .questions-wrap{
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 120px;

    .questions-wrap-1{
      display: flex;
      gap: 1rem;
      margin-bottom: 7rem;

      .question-text {
        .required{
          &::after{
            content: "*";
            color: red;
            font-weight: 600;
          }
        }
      }
    }

    .choice-btn-wrap{
      display: flex;
      gap: 1.5rem;
      align-items: center;
    }
  }
}